version: "3.9"

services:
  # Warstwa Prezentacji (React)
  frontend:
    build: ./frontend
    container_name: cloud-frontend
    ports:
      - "8080:80"
    networks:
      - cloud-network
    depends_on:
      - backend

  # Warstwa Logiki (.NET 9)
  backend:
    build: ./backend
    container_name: cloud-backend
    ports:
      - "8081:8080" # Mapujemy port 8080 kontenera (standard .NET 9) na 8081 hosta
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      # UWAGA: Hasło w tekście jawnym zostanie zabezpieczone w Rozdziale 9 przy użyciu Docker Secrets
      - ConnectionStrings__DefaultConnection=Server=cloud-db;Database=CloudAppDb;User Id=sa;Password=StrongPassword123!;TrustServerCertificate=True
    networks:
      - cloud-network
    depends_on:
      - cloud-db

  # Warstwa Danych (SQL Edge)
  cloud-db:
    image: mcr.microsoft.com/azure-sql-edge
    container_name: cloud-db
    environment:
      SA_PASSWORD: "StrongPassword123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql-data:/var/opt/mssql
    networks:
      - cloud-network

volumes:
  sql-data:
  
networks:
  cloud-network:
    driver: bridge

