# Ten plik automatyzuje proces budowania i wdrażania aplikacji React do Azure.

name: Build and deploy Node.js app to Azure Web App - cloud-task-manager-frontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Instalacja i Budowanie
        run: |
          npm install
          npm run build
        working-directory: ./frontend

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          # Kluczowe: Wysyłamy TYLKO zawartość folderu dist
          path: ./frontend/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          # WYMUSZENIE: Wypakuj pliki tutaj, nie twórz podfolderu 'node-app'
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D19D62351B83418BA1DC0A6216B7B8A5 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_221146B4BDE94D70BAEE6E70682C30DA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1B9E85D4326F4A3D8B6AA5944A7CEAB8 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'cloud-task-manager-frontend'
          slot-name: 'Production'
          # Wdrażamy wszystko co zostało wypakowane do głównego katalogu
          package: .
          startup-command: "pm2 serve /home/site/wwwroot --no-daemon --spa"