name: Build and deploy Node.js app to Azure Web App - cloud-task-manager-frontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Build application
        run: |
          npm install
          npm run build
        working-directory: ./frontend

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./frontend/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: deploy_dist

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D19D62351B83418BA1DC0A6216B7B8A5 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_221146B4BDE94D70BAEE6E70682C30DA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1B9E85D4326F4A3D8B6AA5944A7CEAB8 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'cloud-task-manager-frontend'
          package: ./deploy_dist
          startup-command: "npx serve -s . -p 8080"